@font-face {
  font-family: Lora;
  src: url("assets/fonts/Lora-Regular.ttf");
}

@font-face {
  font-family: NotoSerifDisplay;
  src: url("assets/fonts/NotoSerifDisplay-Regular.ttf");
}

@media (max-width: 1000px) {
  html {
    width: fit-content;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

.main,
.container {
  margin-bottom: auto;
}

.header > .container,
.main > .container,
.footer > .container {
  max-width: 1674.67px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  font-family: Lora, serif;
  font-size: 16px;
  color:#545454;
}

.container {
  width: 100%;
  min-height: 50px;
  margin: 0 auto;
}

.header > .container {
  background: linear-gradient(to right, #d5dbdb 40%, #ffffff 40% 100%);
  border-radius: 15px 15px 0 0;
}

.main > .container {
  background: linear-gradient(to right, #d5dbdb 40%, #ffffff 40% 100%);
  border-radius: 0;
}

.footer > .container {
  background: #f4f6f6;
  border-radius: 0 0 15px 15px;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.navigation-link {
  padding: 10px 5px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  color: #545454;
  text-decoration: none;
  transition: 0.5s;
}

.navigation-link:hover {
  background: #d5dbdb;
  color: #ffffff;
}

.main > .container {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

h2 {
  padding-left: 11px;
  font-variant: small-caps;
  text-shadow: 2px 2px 2px #7d9191;
}

#profile-photo > h2,
#name > h2 {
  width: 2px;
  height: 2px;
  margin: 0;
  padding: 0;
  color: transparent;
  text-shadow: none;
}

.vertical-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
}

.vertical-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
}

.vertical-container-1 > .section,
.vertical-container-2 > .section {
  width:85%;
}

.profile-photo {
  display: block;
  margin: 22.410px auto 0 auto;
}

.contact-list {
  position: relative;
  list-style: none;
}

.contact-list > .contact-item {
  padding: 3px 0;
}

.contact-item:nth-child(1):before {
  content: "";
  position: absolute;
  left: 12px;
  width: 20px;
  height: 20px;
  background-image: url("./assets/svg/logo_phone.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-item:nth-child(2):before {
  content: "";
  position: absolute;
  left: 12px;
  width: 19px;
  height: 19px;
  background-image: url("./assets/svg/logo_mail.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-item:nth-child(3):before {
  content: "";
  position: absolute;
  left: 11px;
  width: 21px;
  height: 21px;
  background-image: url("./assets/svg/logo-discord.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-item:nth-child(4):before {
  content: "";
  position: absolute;
  left: 11px;
  width: 21px;
  height: 21px;
  background-image: url("./assets/svg/logo_location.svg");
  background-size: contain;
  background-repeat: no-repeat;
} 

.navigation-list,
.hard-skills-list,
.soft-skills-list,
.courses-list,
.languages-list {
  margin: 0;
  padding: 0 30px;
}

.hard-skills-list > .hard-skills-item,
.soft-skills-list > .soft-skills-item,
.courses-list > .courses-item,
.languages-list > .language-item {
  padding: 3px 0;
}

.table-skills {
  text-align: left;
}

.university {
  font-weight: bold;
}

#education > p,
#name > p,
#summary > p,
#projects > p {
  margin: 0;
  padding: 3px 0 3px 11px;
}

#name > p {
  font-family: NotoSerifDisplay, serif;
  font-size: 80px;
  font-weight: bold;
}

.project-photo {
  max-width:100%;
  margin: 5px 5px 15px 11px;
  box-shadow: 0px 0px 3px 3px #7d9191;
}

.footer > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.github-link {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-image: url("./assets/svg/logo_github.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.rss-link {
  width: 121px;
  height: 45px;
  margin-right: 10px;
  background-image: url("./assets/svg/logo_rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
}